services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: unless-stopped
    env_file:
      - ./secrets/.env
    networks:
      - ocean-network
    volumes:
      - ocean-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U oceanuser -d oceandb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
