services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ocean-server
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    networks:
      - ocean-network
    depends_on:
      postgres:
        condition: service_healthy
