services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ocean-server
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - ocean-network
